<div class="handleArticle">
    <form class="layui-form" action="">
        <div class="layui-form-item" style="display: none;">
            <label class="layui-form-label">id</label>
            <div class="layui-input-block ">
                <input type="text" name="id" value="<%= result.id %>" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block handleArticle-title">
                <input type="text" name="title" value="<%= result.title %>" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类别</label>
            <div class="layui-input-block">
              <select name="sort" lay-filter="sort" value="<%= result.sort_id %>">
                <option value=""></option>
                <% result.sortArr.forEach(function(e){ %>
                    <option value="<%= e.id %>" <%= result.sort_id==e.id?'selected':''%> ><%= e.sort %></option>
                <% }) %>
                
              </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-mdeditor">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <div id="myEditor">
                    <textarea style="display:none;" class="layui-textarea"><%= result.content %></textarea>
                </div>
                <script src="/jquery/jquery-3.4.1.min.js"></script>
                <script src="/editor.md-master/editormd.min.js"></script>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("myEditor", {
                            emoji:true,
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL :'/handleArticle/uploadImg',
                            path : "/editor.md-master/lib/"
                        });
                    });
                </script>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="handleArticleSave">保存</button>
                <button type="reset" onclick="resetfunction()" class="layui-btn layui-btn-primary handleArticleReset"  lay-filter="handleArticleReset">重置</button>
            </div>
        </div>
    </form>
</div>